*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#container{
    height: 100%;
}                            /************* tete ******************/

.tete{
    display: flex;
    justify-content: space-between;
    color: white;
}
h1{
    margin-left: 50px;
}
nav{
    
    display: flex;   
}
nav a{
    color: white;
   text-decoration: none;
   margin: 10px;
}
.first {
    background: rgb(139,195,245);
    background: radial-gradient(circle, rgba(139,195,245,1) 0%, rgba(18,148,184,1) 100%);
}
.first ul{

    display: flex;
    flex-direction: row;
    margin-right: 50px;
}
.first li{
    list-style-type: none;
    margin: 10px ;
}

                          /****************** texte et sub **************/

.texteHome h2{
    font-size: 50px;
}                        
.texteHome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    width: 400px;
    margin-left: 70px;
}

.sub{
    display: flex;
    height: 32px;
    width: 300px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}
.sub input{
    margin: 20px;
border-radius: 16px;
border: none;
height: 32px;
width: 350px;
padding-left: 10px;
position: relative;

}
.sub button{
    height: 25px;
    width: 100px;
    border-radius: 13px;
    border: none;
    background-color: #1294b8;
    color: white;
    position: absolute;
    margin-right: 23px;
    
    
}
                          /****************** illustration **************/
.textImg{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 100px;
}

.illustration{
  
   
    height: 400px;
    width: 400px;
    margin-right: 70px;
}
                            /****************texte**************/

.texte{
    display: flex;
   align-items: center; 
   flex-direction: column;
    margin: 15px;
    text-align: center;
    font-size: 12px;
    
}
.texte h3{
    text-align: center;
    font-size: 25px;
    text-align: center;
    width: 430px;
}

/****************cards************/
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.cards h4{
    font-size: x-large;
}
#fa{
    font-size: 40px;
}
#card{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    padding: 20px;
    background: rgb(139,195,245);
    background: radial-gradient(circle, rgba(139,195,245,1) 0%, rgba(18,148,184,1) 100%);
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px;
}
#worcks{
    background-color:antiquewhite;
    height: 500px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top:80px;
}