*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#container{
    height: 100%;
}                            /************* tete ******************/

.tete{
    display: flex;
    justify-content: space-between;
    color: white;
}
h1{
    margin-left: 50px;
}
nav{
    
    display: flex;   
}
nav a{
    color: white;
   text-decoration: none;
   margin: 10px;
}
.first {
    background: rgb(139,195,245);
    background: radial-gradient(circle, rgba(139,195,245,1) 0%, rgba(18,148,184,1) 100%);
}
.first ul{

    display: flex;
    flex-direction: row;
    margin-right: 50px;
}
.first li{
    list-style-type: none;
    margin: 10px ;
}

                          /****************** texte et sub **************/

.texteHome h2{
    font-size: 50px;
}                        
.texteHome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 400px;
    width: 400px;
    margin-left: 70px;
}

.sub{
    display: flex;
    height: 32px;
    width: 300px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}
.sub input{
    margin: 20px;
border-radius: 16px;
border: none;
height: 32px;
width: 350px;
padding-left: 10px;
position: relative;

}
.sub button{
    height: 25px;
    width: 100px;
    border-radius: 13px;
    border: none;
    background-color: #1294b8;
    color: white;
    position: absolute;
    margin-right: 23px;
    
    
}
/****************** illustration **************/
.textImg{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 100px;
}

.illustration{
    
    
    height: 400px;
    width: 400px;
    margin-right: 70px;
}
                            /****************texte**************/

.texte{
    display: flex;
   align-items: center; 
   flex-direction: column;
   margin: 15px;
   text-align: center;
   font-size: 12px;
   
}
.texte p{
    margin-top: 20px;
    width: 430px;
    color: gray;

}
.texte h3{
    text-align: center;
    font-size: 25px;
    text-align: center;
    width: 430px;
}

/****************cards************/
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.cards h4{
    font-size: x-large;
}
#fa{
    font-size: 40px;
}
#card{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    padding: 20px;
    background: rgb(139,195,245);
    background: radial-gradient(circle, rgba(139,195,245,1) 0%, rgba(18,148,184,1) 100%);
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px;
}
#worcks{
    background-color:antiquewhite;
    height: 50vh;
    width: 1200wv;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-top:80px;
}

/******************************** equipe ****************/

.portrait{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
}
.person{

    text-align: center;
}
.person p{
    font-size: 10px;
    color: grey;
}

.person img{
    height: 150px;
    width: 150px;
    border-radius: 75px;
}

/******************************** parallax ****************/

.parallax{
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
background-size: cover; /* L'image prendra 100% de l'espace */
background-position: center; /* Centre la position de l'image */
background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
background-image: url(media/parallax.png);
height: 40vh;
position: relative;
z-index: 0;


}
.paraText{
    text-align: center;
    padding-top: 20px;
    color: white;
    padding: 50px;
    position: relative;
    z-index: 2;

}
.blackfilter{
    height: 40vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

}


.myButton {
	background-color:transparent;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:10px 35px;
	text-decoration:none;
}


/************** section client ****************/

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.logo img{
    height: 100px;
    width: 100px;
    margin : 30px;
    
}
.client{
    
    background-color:antiquewhite ;
    height: 50vh;
}

/************** section blog ****************/



.textePricing{
    display: flex;
   align-items: flex-start; 
   flex-direction: column;
   margin: 15px;
   text-align: left;
   font-size: 12px;
   margin-left: 30px;
   
}
.textePricing p{
    margin-top: 20px;
    width: 430px;
    color: gray;

}
.textePricing h3{
    text-align: center;
    font-size: 25px;
    text-align: center;
    width: 430px;
}
div.textePricing{
    width:500px;
}
.creaSection h3{
    font-size: 25px;
}
.creaSection p{
    font-size: 12px;
    color: gray;
}
.nbrs{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    width:300px;

   
}
.nbr2{
  margin: 30px;
}
.nbr1{
  margin: 30px;
}
.learnButton {
	background-color:#3e6bde;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    margin: 30px;
}
.textCrea{
    display: flex;
    flex-direction: row;
}
div.creativity{
    display: flex;
    justify-content: flex-end;
    height: 500px;
    width: 500px;
   
}
.creativity img{
    
    height: 500px;
    width: 500px;
}
/************ card Prix **************/

.pricing{ /*****section****/
        display: flex;
flex-direction: column;
    height: 50vh;
   width: 100vw;
   background-color: antiquewhite
}
.card1{
    display: flex;
    flex-direction: column;
}
.allCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.cardPricing{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius:  0  0 30px 30px;
    margin: 10px;
    height: 350px;
    width: 370px;
    margin: 0;
}
.teteCard{
    text-align: center;
    background-color:white;
    width: 370px;
    height: 100px;
    border-radius: 30px 30px 0 0;
    }
.teteCard span{
    font-size: 50px;
    color: #3e6bde ;
}
.option, .valueOption{
    display: flex;
	flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
   

}
.option p{
    margin: 15px;
}
 .valueOption p{
    margin: 15px;
}
.option{
    text-align: left;
}
.valueOption{
    text-align: right;
}
.fa-circle-check{
    color: green;
}
.fa-circle-xmark{
    color: red;
}

.joinButton {
	background-color:#3e6bde;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:15px 100px;
	text-decoration:none;
}
.button{
   /* text-align: end; */
}