*{
    margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
#container{
    height: 100%;
}                            /************* tete ******************/

.tete{
    display: flex;
    justify-content: space-between;
    color: white;
}
h1{
    margin-left: 50px;
    font-size: 70px;
}
nav{
    
    display: flex;   
}
nav a{
    color: white;
   text-decoration: none;
   margin: 10px;
   font-size: 25px
}
 nav a:hover{
    color:gainsboro;
} 
.first {
    background: rgb(139,195,245);
    background: radial-gradient(circle, rgba(139,195,245,1) 0%, rgba(18,148,184,1) 100%);
    height: 70vh;
}
.first ul{

    display: flex;
    flex-direction: row;
    margin-right: 50px;
    font-size: 25px;
}
.first li{
    list-style-type: none;
    margin: 10px ;
}
.first li:hover{
    color:gainsboro;  
}


                          /****************** texte et sub **************/

.texteHome {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 600px;
    width: 600px;
    margin-left: 70px;
}
.texteHome h2{
    font-size: 50px;
    margin-bottom: 80px;
}  
.texteHome p{
margin-bottom: 60px;
}                      

.sub{
    display: flex;
    height: 32px;
    width: 400px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40px;
}
.sub input{
    margin: 20px;
border-radius: 32px;
border: none;
height: 60px;
width: 400px;
padding-left: 10px;
position: relative;

}
.sub button{
    height: 54px;
    width: 160px;
    border-radius: 30px;
    border: none;
    background-color: #1294b8;
    color: white;
    position: absolute;
    margin-right: 23px;
    }
.sub button:hover{
    background-color: #1294b8ac;
}
/****************** illustration **************/
.textImg{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 100px;
}

.illustration{
    
    
    height: 550px;
    width: 700px;
    margin-right: 70px;
}
                            /****************texte**************/

.texte{
    display: flex;
   align-items: center; 
   flex-direction: column;
   padding: 35px;
   text-align: center;
   font-size: 18px;
   
}
.texte p{
    margin-top: 20px;
    width: 430px;
    color: gray;

}
.texte h3{
    text-align: center;
    font-size: 25px;
    width: 430px;
}

/****************cards************/
.cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.cards h4{
    font-size: x-large;
}
#fa{
    font-size: 40px;
}
#card{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    color: white;
    font-size: 13px;
    padding: 20px;
    background: rgb(139,195,245);
    background: radial-gradient(circle, rgba(139,195,245,1) 0%, rgba(18,148,184,1) 100%);
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 20px;
}
#card:hover{
    transform: translateY(-5%);
    transition: transform 0.5s;
}
#worcks{
    background-color:#dbdbdb;
    height: 50vh;
    width: 1200wv;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
   
}

/******************************** equipe ****************/

.person{
  position: relative;  
}
.portrait{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 60px;
   
}
.portrait .imgPerson{
    text-align: center;
    object-fit: cover;  
    border-radius: 90px;
    overflow: hidden;
    height:180px;
   
 
}
.person h3{
    text-align: center;
}
.person p{
    font-size: 10px;
    color: grey;
    text-align: center;
    margin-bottom: 20px;
}

.imgPerson img{
    padding-bottom: 0;
    height: 180px;
    width: 180px;
    overflow: hidden; 
    transition: transform 0.5s;
    filter: grayscale(1);
    
}
.imgPerson img:hover{
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
    filter: grayscale(0);
    transition: transform 1s;
    filter: grayscale(0);
}
.iconSocial{
    display: flex;
    flex-direction: column;
    color:black;
    opacity: 0;
    left: -10px;
    top: 70px;
    transition: 1s;
   
    
}
.person:hover .iconSocial{
    position: absolute;
    color:black;
    left: 10px;
    top: 110px;
    opacity: 1;
}
.person h4{
    text-align: center;
    margin-top: 20px;
}


/******************************** parallax ****************/

.parallax{
    background-attachment: fixed; /* Fixe l'image pendant le scroll */
background-size: cover; /* L'image prendra 100% de l'espace */
background-position: center; /* Centre la position de l'image */
background-repeat: no-repeat; /* Empêche l'image de se répéter en fonction de la taille d'écran */
background-image: url(media/parallax.png);
height: 40vh;
position: relative;
z-index: 0;


}
.paraText{
    text-align: center;
    padding-top: 20px;
    color: white;
    padding: 50px;
    position: relative;
    z-index: 2;

}
.blackfilter{
    height: 40vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.507);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

}


.myButton {
    margin-top: 40px;
    background-color:transparent;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
    border-radius: 5px;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:10px 35px;
	text-decoration:none;
}
.myButton:hover {
    background-color:white;
    color:rgb(65, 63, 63);
    border-radius: 5px;
}


/************** section client ****************/

.logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo img{
    
    height: 200px;
    width: 200px;
    margin : 30px; 
    opacity: 0.6;
    transition-duration: 0.5s;
}
.logo img:hover{
    opacity: 1;
}
.client{
    
    background-color:#dbdbdb ;
    height: 50vh;
}




/************** section creativity ****************/

.texteButton{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin-left: 20px;
}

.texteCrea h3{
    margin-top: 30px;
    font-size: 25px;
}
.texteCrea p{
    margin-top: 20px;
   font-size: 11px;
   width: 500px;
    color: gray;
}

.chiffre{
    display: flex;
    flex-direction: row;
   
    
}
.chiffre span{
    height: 120px;
    width: 200px;
    gap: 10px;
}
.chiffre h3{
    margin-top: 30px;
    font-size: 25px;
    width: 430px;
}
.chiffre p{
    margin-top: 20px;
   
    color: gray;

}
.creaAll{
    display: flex;
    height: 40vh;
    justify-content: space-between;
}
#imgCrea{
    height: 100%;
    width: 100%;
}
.learnButton {
    display: flex;
    justify-content: center;
	background-color:#3e6bde;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:15px 20px;
    margin-top: 30px;
    width: 200px;
    text-align: center;
	text-decoration:none;
}
/************** section pricing ****************/

.textePricing{
    display: flex;
   align-items: flex-start; 
   flex-direction: column;
   margin: 15px;
   text-align: left;
   font-size: 12px;
   margin-left: 30px;
   
}
.textePricing p{
    margin-top: 20px;
    width: 430px;
    color: gray;

}
.textePricing h3{
    text-align: center;
    font-size: 25px;
    text-align: center;
    width: 430px;
}
div.textePricing{
    width:500px;
}

   

/************ card Prix **************/
.pricing .texte{
    margin-bottom: 50px;
}
.pricing{ 
        display: flex;
flex-direction: column;
    height: 80vh;
   width: 100vw;
   background-color: #dbdbdb
}

.allCards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    
}
.teteCard{
    text-align: center;
    background-color:white;
    width: 370px;
    height: 150px;

    border-radius: 30px 30px 0 0;
    }
.teteCard h2{
    font-size: 25px;
   padding-top: 20px;
}
.teteCard span{
    font-size: 50px;
    color: #3e6bde ;
}

.cardPricing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    margin: 10px;
    height: 300px;
    width: 370px;
    margin: 0;
}

.option, .valueOption{
    display: flex;
	flex-direction: column;
    }
.option p{
    margin: 15px;
}
.option{
    width: 200px;
    margin-left: 20px;

}
 .valueOption p{
    margin: 15px;
}
.option{
    text-align: left;
    height: 280px;
}
.valueOption{
    text-align: right;
    margin-right: 20px;
    height: 280px;
}
.fa-circle-check{
    color: green;
}
.fa-circle-xmark{
    color: red;
}

.finCard{
    display: flex;
    justify-content: center;
    background-color:white;
    width: 370px;
    border-radius:  0  0 30px 30px;
    }
.joinButton {
    display: flex;
    justify-content: center;
	background-color:#3e6bde;
	border-radius:3px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	width: 320px;
    height: 50px;
    margin: 15px;
    
    padding-top: 15px;
    padding-bottom: 15px;
	text-decoration:none;
    text-align:center;
}
.card2{
    transform: translateY(-30px);
}
.promo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size:22px;
    background-color:#3e6bde;
    height: 80px;
    width: 90px;
    border-radius:  0 30px 0 10px;
    position: absolute;
    left: 280px;
}
/***********blog*********************/

.blog{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;

  
}
.art{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
   
}

.art img{
   height: 400px;
   width: 400px;
   border-radius: 20px;
   overflow: hidden;
   z-index: 0;
   position: relative;
}
.imgBlog{
    width: 400px;
    height: 400px;
    position: relative;
    
    
}
.blackFilterBlog{
    background-color: rgba(0, 0, 0, 0.187);
    height: 400px;
    width: 400px;
    z-index: 1;
    position: absolute;
   top: 0px;
   border-radius: 20px;
}
.imgBlog p{
opacity: 0;
}
.imgBlog:hover p{
    position: relative;
    transition-duration: 0.5s;
    opacity: 1;
    color: white;
    top: -380px;
    left: 20px;
    z-index: 3;
}

.texteBlog p{
    margin-top: 20px;
    width: 430px;
    color: gray;
    text-align: left;
}

.texteBlog h3{
    text-align: left;
    font-size: 25px;
    width: 430px;
}

.readButton {
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:#3e6bde;
	font-family:Arial;
	font-size:17px;
	padding:0px 0px;
	text-decoration:none;
}

/*********** footer *****************/

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    background-color: black;
}
.logoReseaux{
    display: flex;
    flex-direction: row;
    justify-content:center;
    
    gap: 40px;
    
}
.logoReseaux i{
    padding: 17px;
    border:  2px solid rgb(193, 191, 191);
    border-radius: 100%;
    font-size: 15px;
}
.lien{
    display: flex;
    justify-content:center;
    gap: 40px;
    text-align: center;
    margin-top: 40px;
    
}

footer p {
    color: rgb(193, 191, 191);
    text-align: center;
}
.copyright{
    margin-top: 40px;
}
.footerButton {
	background-color:transparent;
	display:inline-block;
	cursor:pointer;
	color:rgb(193, 191, 191);
	font-family:Arial;
	font-size:14px;
	padding:0px 0px;
	text-decoration:none;
}
.sticky {
	background-color:#222322;
	border-radius:36px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:22px;
	padding:15px 22px;
	text-decoration:none;
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 4;
}



