@media screen and (max-width: 1280px) {
   .tete{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   
    h1{
        font-size: 10px;
    }
    nav{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        display: flex;
     justify-content: flex-end;   
    }
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .texteCrea p{
        width: 400px;
       
        
    }
    .allCards{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
       
    }
    .pricing{
        height: 100%;
    }
    .card1{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .card2{
        margin-bottom: 30px;
        transform: translateY(0px);
    }
    .card3{
        margin-bottom: 30px;
    }
    .blog{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-bottom: 30px;
    }
}